.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #09090F url('/images/background.svg') no-repeat;
  background-size: cover;
  box-shadow: 16px 16px 39px 6px #00000040;
}
