<div class="form__control">
  @if (prefixIcon()) {
    <div class="form__icon">
      <img [ngSrc]="prefixIcon()!" width="24" height="24" alt="icon" />
    </div>
  }

  <input
    class="form__input"
    [type]="type()"
    [placeholder]="placeholder()"
    [disabled]="innerDisabled"
    [value]="innerValue"
    (input)="onInput($event)"
    (blur)="onTouched()"
  />

  @if (postfixIcon()) {
    <div class="form__button--container">
      <button
        class="form__button"
        type="button"
        (click)="onButtonToggleClick()"
      >
        <img
          [ngSrc]="postfixIcon()!"
          width="16"
          height="16"
          [alt]="type()"
        />
      </button>
    </div>
  }
</div>
