.form__control {
  display: flex;
  align-items: center;
  backdrop-filter: blur(20px);
  background-color: rgba(118, 118, 128, 0.12);
  border-radius: 16px;
  padding: 14px 17px 14px 14px;
  border: 1px solid;
  border-image-source: linear-gradient(91.33deg, rgba(255, 255, 255, 0.08) 1.08%, rgba(255, 255, 255, 0.04) 48.1%, rgba(255, 255, 255, 0.08) 100%);
}

.form__input {
  display: flex;
  align-items: center;
  background-color: initial;
  color: #b0b0b0;
  border: none;
  outline: none;
  flex: 1;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  color: #A0A0A0;
}

.form__icon {
  width: 24px;
  height: 24px;
  padding-right: 1rem;
}

.form__icon--image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0.7);
}

.form__button {
  cursor: pointer;
  background: transparent;
  border: none;
}
