<div class="block__start">
  <div class="start__logo" routerLink="/private/home">
    <img priority ngSrc="images/logo.svg" width="170" height="41" alt="logo" />
  </div>

  @if (isShowSearch()) {
    <app-input
      class="start__search"
      iconUrl="icons/search.svg"
      buttonIconUrl="icons/arrow-right.svg"
      placeholder="Поиск"
      [value]="filters()?.name || ''"
      (controlValue)="onInputSearchChange($event)"
    />
  }

  <div class="start__filter">
    <h2 class="filter__title">Жанр</h2>

    <app-radio
      class="start__filterItem"
      [options]="filterGenres()!"
      [value]="filters()?.genre || ''"
      (valueChange)="onGenreChange($event)"
    ></app-radio>

    <h2 class="filter__title">Дата выхода</h2>

    <div class="filter__year">
      <app-select
        class="start__filterItem"
        [options]="filterYears"
        [value]="filters()?.from"
        (valueChange)="onYearFromChange($event)"
      ></app-select>

      <app-select
        class="start__filterItem"
        [options]="filterYears"
        [value]="filters()?.to"
        (valueChange)="onYearToChange($event)"
      ></app-select>
    </div>

    <h2 class="filter__title">Сортировать</h2>

    <app-radio
      class="start__filterItem"
      [options]="sorters"
      [value]="filters()?.sort"
      (valueChange)="onSortChange($event)"
    ></app-radio>
  </div>

  <div class="start__exit-link">
    <app-nav-button
      class="start__logout-button"
      text="Выход"
      iconUrl="icons/logout.svg"
      (clicked)="onLogoutClick()"
    />
  </div>
</div>

<div class="block__end">
    <div class="start__menu">
      @for (item of navLinks; track item.id) {
        <app-nav-button
          [text]="item.text"
          [disabled]="item.disabled"
          [iconUrl]="item.iconUrl"
          [iconUrlActive]="item.iconUrlActive"
          [routerLink]="item.link"
        />
      }
    </div>

  <div class="end__nav">
    <h1>
      @if (filters()?.name) {
        Результаты поиска
      } @else {
        {{ title() }}
      }
    </h1>

    <router-outlet></router-outlet>
  </div>
</div>
