.login__container {}

.login__heading {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  margin-top: 39px;
  margin-bottom: 26px;
}

.login__form {
  display: flex;
  gap: 17px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__form--control {
  width: 360px;
}

.login__form--mainError {
  position: absolute;
  top: 40px;
  height: 40px;
  width: 360px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #f46d22;
}

.login__form--error {
  color: #f46d22;
}
